@import "tailwindcss";

:root {
  /* Typography */
  --text-display-10xl: 9.45rem;
  --text-display-10xl-line-height: 12.2rem;

  --text-display-3xl: 3.75rem;
  --text-display-3xl-line-height: 4.5rem;

  --text-display-2xl: 3rem;
  --text-display-2xl-line-height: 3.75rem;

  --text-display-xl: 2.5rem;
  --text-display-xl-line-height: 3.5rem;

  --text-display-lg: 2.25rem;
  --text-display-lg-line-height: 3rem;

  --text-display-md: 2rem;
  --text-display-md-line-height: 2.875rem;

  --text-display-sm: 1.75rem;
  --text-display-sm-line-height: 2.375rem;

  --text-display-xs: 1.5rem;
  --text-display-xs-line-height: 2.25rem;

  --text-xl: 1.25rem;
  --text-xl-line-height: 2.125rem;

  --text-lg: 1.125rem;
  --text-lg-line-height: 2rem;

  --text-md: 1rem;
  --text-md-line-height: 1.875rem;

  --text-sm: 0.875rem;
  --text-sm-line-height: 1.75rem;

  --text-xs: 0.75rem;
  --text-xs-line-height: 1.5rem;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-gray-25: #FDFDFD;
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #E9EAEB;
  --color-gray-300: #D5D7DA;
  --color-gray-400: #A4A7AE;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252B37;
  --color-gray-900: #181D27;
  --color-gray-950: #0A0D12;

  --color-primary-25: #F3EBFF;
  --color-primary-500: #8B32FF;
  --color-primary-700: #6600EB;
  --color-primary-950: #160131;

  /* Radius */
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-none: 0rem;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.375rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.25rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.5rem;
  --spacing-6xl: 3rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 5rem;
  --spacing-9xl: 6rem;
  --spacing-10xl: 8rem;
  --spacing-11xl: 8.75rem;
}

/* Custom scrollbar, font, dsb jika perlu */

body {
  background-color: #000000; /* bg-black */
  color: #FAFAFA; /* text-neutral-50 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 400; /* font-normal */
  font-family: var(--font-poppins);
}

.navbar-blur {
  background-color: rgba(255,255,255,0.6); /* bg-white/60 */
  backdrop-filter: blur(12px); /* backdrop-blur-md */
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06); /* shadow */
}